.header {
    $root: &;
    display: flex;
    box-sizing: border-box;
    padding: ((15/16) * 1rem) 5%;
    position: relative;
    background-color: $color-light;
    width: 100%;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%,0);
    position: fixed;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 90%;
        height: 4px;
        transform: translateX(-50%);
        background-color: $color-dark;
        transition: all .2s linear;
    }

    + * {
        margin-top: (15/16) * 1rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        > * {
            align-self: flex-end;
            line-height: 1;
        }
    }

    &__link {
        transition: all .2s ease;
        &--home {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            font-size: $header-logo;
            line-height: .75;
        }

        &--alt {
            font-family: 'Playfair Display', serif;
            font-weight: 800;
            font-style: italic;
            font-size: ($header-logo / 2 );
        }
    }

    &__spacing {
        height: (90/16) * 1rem;
        margin-top: 0;
    }

    &--fixed {
        padding: ((10/16) * 1rem) 5%;
        z-index: 5;
        font-size: .8em;

        #{$root}__link {
            &--home {
                font-size: $header-logo * .6;
            }
        }

        #{$root}:before {
            width: 100%;
        }
    }

    @media all and (min-width: 48em) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        &:before {
            width: 100%;
        }
    }
}
