.bio {
    margin-top: (40/16) * 1rem;

    .col-container {
        flex-direction: column-reverse;

        & > * + * {
            margin-top: 0;
        }

        .col {
            &--01 {
                margin-top: (25/16) * 1rem;
            }
        }
    }

    .resume-container {
        &__buttons {
            display: flex;
            margin-top: (10/16) * 1rem;

            * {
                flex: 1 1 auto;

                & + * {
                    margin-left: (10/16) * 1rem;
                }
            }
        }
    }

    @media all and (min-width: 48em) { //768px
        .col-container {
            flex-direction: row;


            .col {
                &--01 {
                    margin-top: 0;
                }
            }
        }

        .resume-container {
            &__buttons {
                flex-direction: column;

                * {
                    flex: 1 1 auto;

                    & + * {
                        margin-top: (20/16) * 1rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
