@model ModuleViewModel
@{
    ViewData["Title"] = "Bio";
}

<div class="col-container">
    <div class="col col--01">
        <div class="text-area">
            <p>
                A design oriented full stack developer. Have been working at Spherexx.com for four years.
                <!--<br><br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
            </p>
            <h3 class="text-header text-header--h3">Front-End</h3>
            <ul class="inline-list italic">
                <li>HTML</li>
                <li class="sep"></li>
                <li>CSS</li>
                <li class="sep"></li>
                <li>JS</li>
            </ul>
            <h3 class="text-header text-header--h3">Back-End</h3>
            <ul class="inline-list italic">
                <li>ASP</li>
                <li class="sep"></li>
                <li>C#</li>
                <li class="sep"></li>
                <li>SQL</li>
            </ul>

            <h3 class="text-header text-header--h3">Technologies</h3>
            <ul class="inline-list italic">
                <li>Photoshop</li>
                <li class="sep"></li>
                <li>Illustrator</li>
                <li class="sep"></li>
                <li>Node</li>
            </ul>
        </div>
    </div>
    <div class="col col--02">
        <div class="resume-container">
            <h4 class="text-header text-header--h3">Resume</h4>
            <div class="resume-container__buttons">
                <a href="/" class="button">PDF</a>
                <a href="/" class="button">DOCX</a>
                <a href="/" class="button">HTML</a>
            </div>
        </div>
    </div>
</div>