@{
    ViewData["Title"] = "Home Page";
}

<div class="section section--bio bio lazy" data-cb="loadModule" data-param1="this" data-param2="Bio">
</div>

<div class="section section--projects projects lazy">
    <div class=" lazy" data-cb="loadModule" data-param1="this" data-param2="Projects">
    </div>
</div>