@model ModuleViewModel
@{
    ViewData["Title"] = "Project-Card-Lefrak-Template";
}


    <h4 class="text-header text-header--h4">Newport Rentals</h4>
    <div class="col-container">
        <div class="col col--01 col--w-25">
            <div class="projects__card-image lazy-image lazy-image--landscape transition">
                <div class="lazy-image__inner">
                    <img class="lazy" alt="screenshot" data-src="https://res.cloudinary.com/alantm/image/upload/v1586309454/www.newportrentals.com_cgzdpy.png" />
                </div>
            </div>
        </div>
        <div class="col col--02 col--w-50">
            <div class="text-area">
                
                <p>
                    Focus on google page speed.</br>
                    Lazy loading elements.</br>
                    Templatize individual sites.</br>
                </p>
            </div>
        </div>
        <div class="col col--03 col--w-25">
            <a href="https://www.newportrentals.com/" target="_blank" class="button button--filled projects__card-button">View</a>
        </div>
    </div>