@model ModuleViewModel
@{
    ViewData["Title"] = "Projects";
}

<div class="col-container">
    <h2 class="text-header text-header--h1">Projects</h2>
    <div class="projects__container lazy" data-cb="loadProjectCards" data-param1="this">
    </div>
</div>