@model ModuleViewModel
@{
    ViewData["Title"] = "Projects";
}

<h2 class="text-header text-header--h1">Projects</h2>
<div class="col-container">
    <div class="projects__container">
        <div class="projects__card lazy" data-cb="loadProjectCard" data-param1="this" data-param2="Lefrak-Template"></div>
        <div class="projects__card lazy" data-cb="loadProjectCard" data-param1="this" data-param2="Lefrak-Template"></div>
        <div class="projects__card lazy" data-cb="loadProjectCard" data-param1="this" data-param2="Lefrak-Template"></div>
        <div class="projects__card lazy" data-cb="loadProjectCard" data-param1="this" data-param2="Lefrak-Template"></div>

    </div>
</div>