@model ModuleViewModel
@{
    ViewData["Title"] = "Projects";
}

<div class="projects__card">
    <h4 class="text-header text-header--h4"></h4>
    <div class="col-container">
        <div class="col col--01">
            <div class="projects__card-image">
                <img class="lazy" data-src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
            </div>
        </div>
        <div class="col col--02">
            <div class="text-area">
                <p>
                    Focus on google page speed.</br>
                    Lazy loading elements.</br>
                    Templatize individual sites.</br>
                </p>
            </div>
        </div>
        <div class="col col--03">
            <a herf="/" class="button projects__card-button">View</a>
        </div>
    </div>
</div>