$color-dark: #000;
$color-light: #f8f8ff;

$header-logo: (50/16) * 1rem;
$header-h1: (40/16) * 1rem;
$header-h2: (30/16) * 1rem;
$header-h3: (24/16) * 1rem;
$header-h4: (20/16) * 1rem;

$text-large: (18/16) * 1rem;
$text-med: (14/16) * 1rem;
$text-small: (12/16) * 1rem;

$body-max-width: (800/16) * 1rem;